node_modules
dist
dist-ssr
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.DS_Store
*.log
.vscode/settings.json
firestore-debug.log
temp_file.tsx
.vercel
AzureAIDemo.tsx
AzureAIDemoPage.tsx
azureCognitive.ts
